@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  color: #444;
  background: #fff;
}


h1 {
  margin: 0 0 0.5em 0;
  font-size: 3em;
  font-weight: 300;
}

h2 {
  margin: 1em 0 0 0;
  font-size: 2.4em;
  font-weight: 300;
}

h3 {
  margin: 1.5em 0 0 0;
  font-weight: 400;
  font-size: 1.8em;
}

h3 .nr {
  display: inline-block;
  background: #58b02c;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  margin: 0 11px 0 0;
  text-align: center;
  color: #fff;
  font-weight: 300;
}

h4 {
  margin: 1em 0 0.3em 0;
  font-weight: 600;
  font-size: 1.4em;
}

h4[title]:after {
  content: "\2666";
  margin-left: 5px;
  color: #ccc;
}

.viktighet {
  float: right;
  font-weight: 300;
  color: #58b02c;
}



p {
  margin: 5px 0 0 0;
  font-size: 1.2em;
}

.egenskapstype {
  margin-left: 35px;
}



#regskjema {
  float: left;
  width: 400px;
  height: calc(100% - 40px);
  overflow: auto;
  padding: 20px;
  background: #fff;
}

#map {
  float: left;
  width: calc(100% - 440px);
  height: 100%;
}

select {
  width: calc(100% - 2px);
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #f7f7f7;
}

select.velg_objekttype {
  width: calc(100% - 112px);
  font-size: 1.4em;
}

select:hover {
  border-color: #000;
  cursor: pointer;
}


input[type=text] {
  width: calc(100% - 14px);
  padding: 6px;
  border: 1px solid #ccc;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #f7f7f7;
}

button {
  width: 110px;
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 6px 0 6px 0;
  color: #fff;
  border: 1px solid #008ec2;
  background: #008ec2;
  cursor: pointer;
}