@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700|Open+Sans+Condensed:300);

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  color: #444;
  background: #fff;
}

h1 {
  display: none;  
}

p {
  font-size: 1.3em;
}

#regskjema {
  float: left;
  width: 499px;
  height: calc(100% - 40px);
  overflow: auto;
  padding: 20px;
  border-right: 1px solid #eee;
  
  background: #f7f7f7;
}

#map {
  float: left;
  width: calc(100% - 540px);
  height: 100%;
}


dt {
  float: left;
  clear: left;
  width: 15em;
  margin: 2em 0 0 0;
  font-weight: 600;
  font-size: 1.3em;
}

dd {
  float: left;
  width: 20em;
  margin: 2em 0 0 0;
}


select {
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 4px;
}

select:hover {
  border-color: #000;
  cursor: pointer;
}

input[type=text] {
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 6px;
  border: 1px solid #ccc;
}