@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  color: #444;
  background: #fff;
}


h1 {
  margin: 0 0 0.5em 0;
  font-size: 3em;
  font-weight: 300;
}

h2 {
  margin: 1em 0 0 0;
  font-size: 2.4em;
  font-weight: 300;
}

h3 {
  margin: 1.5em 0 0 0;
  font-weight: 400;
  font-size: 1.8em;
}

h3 .nr {
  display: inline-block;
  background: #58b02c;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  margin: 0 11px 0 0;
  text-align: center;
  color: #fff;
  font-weight: 300;
}

h4 {
  margin: 1em 0 0.3em 0;
  font-weight: 600;
  font-size: 1.4em;
}

h4[title]:after {
  content: "\2666";
  margin-left: 5px;
  color: #ccc;
}

.viktighet {
  float: right;
  font-weight: 300;
  color: #58b02c;
}



p {
  margin: 1em 0;
  font-size: 1.4em;
}

.ingress {
  font-size: 1.6em;
}

.beskrivelse {
  margin: 5px 0 0 0;
  font-size: 1.2em;
  color: #777;
}

.egenskapstype {
  margin-left: 35px;
}



#regskjema {
  float: left;
  width: 400px;
  height: calc(100% - 40px);
  overflow: auto;
  padding: 20px;
  background: #fff;
}

#map {
  float: left;
  width: calc(100% - 440px);
  height: 100%;
}

select {
  width: calc(100% - 2px);
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #f7f7f7;
}

select.velg_objekttype {
  width: calc(100% - 112px);
  font-size: 1.4em;
}

input[type=text] {
  width: calc(100% - 14px);
  padding: 6px;
  border: 1px solid #ccc;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #f7f7f7;
}

button {
  width: 110px;
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 6px 0 6px 0;
  color: #fff;
  border: 1px solid #008ec2;
  background: #008ec2;
  cursor: pointer;
}

button:focus {
  background: #f00;
}


button:disabled {
  background: #ccc; 
  border-color: #ccc;
  cursor: default;
}


.egengeometri, .lokasjon {
  overflow: auto;
  box-shadow: 0px 0px 5px #ccc;
}

.egengeometri input[type=text] {
  float: left;
  width: calc(100% - 190px - 14px);
  padding: 6px;
  border: 1px solid #fff;
  background: #fff;
}

.egengeometri div {
  float: left;
  width: 190px;
  text-align: right;
}

button.punkt, button.linje, button.flate {
  width: auto;
  padding: 6px;
}

.lokasjon input[type=text] {
  float: left;
  width: calc(100% - 100px - 14px);
  padding: 6px;
  border: 1px solid #fff;
  background: #fff;
}

.lokasjon div {
  float: left;
  width: 100px;
  text-align: right;
}

button.fjern {
  width: auto;
  font-size: 1.8em;
  font-weight: 600;
  padding: 2px 10px 5px 10px;
  color: #f00;
  border: 1px solid #fff;
  background: #fff;
}

button.fjern:hover {
  color: #f0f;
}


button.strekning {
  width: 45px;
  overflow: hidden;
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 6px 0;
  color: #fff;
  border: 1px solid #fff;
  background: #fff url("../gfx/strekning.png") no-repeat 50% 50%;
  cursor: pointer;
}

button.strekning:hover {
  background-image: url("../gfx/strekning2.png");
}

button.strekning:disabled {
  background-image: url("../gfx/strekning3.png");
  cursor: default;
}

input.harVerdi, select.harVerdi {
  border-color: #FFFF99;
  background: #FFFFE5;
}