<!DOCTYPE html>
<html ng-app="registratordemonstrator">
<head>
    <title>Registratordemonstrator</title>
    
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js" type="text/javascript"></script>
    
    <script src="app.js" type="text/javascript"></script>
    <script src="modules/nvdbapi/nvdbapi.js" type="text/javascript"></script>
    <script src="modules/nvdbdata/nvdbdata.js" type="text/javascript"></script>
    
    
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="css/MarkerCluster.css" />
    <link rel="stylesheet" href="css/MarkerCluster.Default.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="lib/proj4js-compressed.js" type="text/javascript"></script>
    <script src="lib/proj4leaflet.js" type="text/javascript"></script>
    <script src="lib/leaflet.markercluster.js"></script>
    <script src="lib/Leaflet.Editable.js"></script>
    <script src="lib/L.Control.LineStringSelect.min.js"></script>
    <script src="http://cdn-geoweb.s3.amazonaws.com/terraformer/1.0.4/terraformer.min.js"></script>
    <script src="http://cdn-geoweb.s3.amazonaws.com/terraformer-wkt-parser/1.0.0/terraformer-wkt-parser.min.js"></script>


</head>
<body>


<section id="regskjema">

    <h1>Registratordemonstrator</h1>

    <select ng-model="aktivObjekttype" ng-change="hentObjekttype()" class="velg_objekttype">
        <option value="0">Velg objekttype</option>
        <option ng-repeat="objekttype in objekttyper | orderBy:'navn'" ng-value="{{objekttype.id}}">{{objekttype.navn}}</option>
    </select><button ng-click="hentObjekter()">Hent objekter</button>

    <div ng-if="aktivObjekttype == 0">
        <p class="ingress">Velg objekttype ovenfor for å starte registreringen.</p>
        
        <h2>En overskrift</h2>
        
        <p>Enda et avsnitt.</p>
    </div>
    

    <div ng-hide="aktivObjekttype == 0">
    <h2>Registrer nytt objekt</h2>

    <h3><span class="nr">1</span>Stedfesting</h3>

    <div class="egenskapstype" ng-if="objekttype[aktivObjekttype].egengeometri">
        <h4>Egengeometri</h4>
        <div class="egengeometri">
            <input type="text" ng-model="stedfesting.egengeometri" placeholder="Trykk i kart" disabled="disabled">
            <div>
            <button ng-if="harEgengeometri" ng-click="fjernEgengeometri()" class="fjern">x</button>
                <span ng-repeat="geometritype in objekttype[aktivObjekttype].geometri">
                    <button ng-if="geometritype.navn == 'Geometri, punkt'" ng-click="startMarker()" ng-disabled="harEgengeometri" class="punkt">Punkt</button>
                    <button ng-if="geometritype.navn == 'Geometri, linje'" ng-click="startPolyline()" ng-disabled="harEgengeometri" class="linje">Linje</button>
                    <button ng-if="geometritype.navn == 'Geometri, flate'" ng-click="startPolygon()" ng-disabled="harEgengeometri" class="flate">Flate</button>
                </span>
            </div>
        </div>
    </div>

    <div class="egenskapstype">
        <h4>Vegnettstilknytning</h4>
        <div class="lokasjon">
            <input type="text" ng-model="stedfesting.vegnettstilknytning" placeholder="Stedfest objekt" disabled="disabled">
            <div ng-if="objekttype[aktivObjekttype].geometriType == 'LINJE'">
                <button ng-if="harVegnettstilknytning" ng-click="fjernVegnettstilknytning()" class="fjern" title="Fjern vegnettstilknytning">x</button>
                <button ng-click="hentVegnett()" ng-disabled="harVegnettstilknytning" class="strekning" title="Stedfest objekt">i</button>
            </div>
        </div>
    </div>

    <h3>
        <span class="nr">2</span>Egenskaper 
        <select ng-model="aktivMal" class="mal" ng-change="setMal()" ng-show="mal[objekttype[aktivObjekttype].id]">
            <option value="">Velg mal</option>
            <option ng-repeat="m in mal[objekttype[aktivObjekttype].id]">{{m.navn}}</option>
        </select>
    </h3>

    <div ng-repeat="egenskapstype in objekttype[aktivObjekttype].egenskapsTyper | orderBy:['viktighetnr', 'sorteringsnummer']" class="egenskapstype">
        <h4>
            {{egenskapstype.navn}} 
            <span class="viktighet" title="{{viktighet[egenskapstype.viktighetnr]}}">{{egenskapstype.viktighet}}</span>
        </h4>
        
        <ng-switch on="egenskapstype.type">
            <!-- ENUM -->
            <select ng-switch-when="ENUM" ng-model="egenskaper[egenskapstype.id]" ng-class="{'harVerdi': egenskaper[egenskapstype.id]}">
                <option value="">Velg verdi</option>
                <option ng-repeat="enum in egenskapstype.enumVerdier">{{enum.verdi}}</option>
            </select>
            
            <!-- Tekst -->
            <input type="text" placeholder="Skriv inn tekst" ng-switch-when="Tekst" ng-model="egenskaper[egenskapstype.id]" ng-class="{'harVerdi': egenskaper[egenskapstype.id]}">
            
            <!-- Tall -->
            <input type="text" placeholder="Skriv inn tall" ng-switch-when="Tall" ng-model="egenskaper[egenskapstype.id]" ng-class="{'harVerdi': egenskaper[egenskapstype.id]}">

            <!-- Dato -->
            <input type="text" placeholder="YYYY-MM-DD" ng-switch-when="Dato" ng-model="egenskaper[egenskapstype.id]" ng-class="{'harVerdi': egenskaper[egenskapstype.id]}">
            
            <!-- Klokkeslett -->
            <input type="text" placeholder="hh:ss" ng-switch-when="Klokkeslett" ng-model="egenskaper[egenskapstype.id]" ng-class="{'harVerdi': egenskaper[egenskapstype.id]}">
            
            <!-- Default -->
            <input type="text" placeholder="{{egenskapstype.type}}" ng-switch-default ng-model="egenskaper[egenskapstype.id]" ng-class="{'harVerdi': egenskaper[egenskapstype.id]}">
        </ng-switch>
        
        <p ng-if="egenskapstype.beskrivelse" class="beskrivelse">{{egenskapstype.beskrivelse}}</p>
        
        <!--
        <p class="beskrivelse">
            {{egenskapstype.viktighet}}. {{egenskapstype.beskrivelse}}. 
            <span ng-if="egenskapstype.enhet" title="{{egenskapstype.enhet.navn}}">{{egenskapstype.enhet.kortNavn}}</span>
        </p>
        -->
    </div>

    <!--<h3><span class="nr">3</span>Datterobjekter</h3>-->


    <h3><span class="nr">3</span><button ng-click="registrerObjekt()" style="font-size: 1em; width: auto; padding: 6px;">Registrer objekt</button></h3>


    </div>




</section>





<section id="map" ng-controller="nvdbleafletCtrl"></section>


<script src="modules/nvdbleaflet/nvdbleaflet.js" type="text/javascript"></script>

</body>
</html>