
<div ng-if="aktivObjekttype != 0" ng-controller="regskjemaCtrl" >
<h2>Registrer nytt objekt</h2>

<h3><span class="nr">1</span>Stedfesting</h3>

<div class="egenskapstype">
    <h4>Egengeometri</h4>
    <div class="egengeometri">
        <input type="text" ng-model="stedfesting.egengeometri" placeholder="Trykk i kart" disabled="disabled">
        <div>
        <button ng-if="harEgengeometri" ng-click="fjernEgengeometri()" class="fjern">x</button>
            <span ng-repeat="geometritype in objekttype[aktivObjekttype].geometri">
                <button ng-if="geometritype.navn == 'Geometri, punkt'" ng-click="startMarker()" ng-disabled="harEgengeometri" class="punkt">Punkt</button>
                <button ng-if="geometritype.navn == 'Geometri, linje'" ng-click="startPolyline()" ng-disabled="harEgengeometri" class="linje">Linje</button>
                <button ng-if="geometritype.navn == 'Geometri, flate'" ng-click="startPolygon()" ng-disabled="harEgengeometri" class="flate">Flate</button>
            </span>
        </div>
    </div>
</div>

<div class="egenskapstype">
    <h4>Vegnettstilknytning</h4>
    <div class="lokasjon">
        <input type="text" ng-model="stedfesting.vegnettstilknytning" placeholder="Stedfest objekt" disabled="disabled">
        <div ng-if="objekttype[aktivObjekttype].geometriType == 'LINJE'">
            <button ng-if="harVegnettstilknytning" ng-click="fjernVegnettstilknytning()" class="fjern" title="Fjern vegnettstilknytning">x</button>
            <button ng-click="hentVegnett()" ng-disabled="harVegnettstilknytning" class="strekning" title="Stedfest objekt">i</button>
        </div>
    </div>
</div>

<h3><span class="nr">2</span>Egenskaper</h3>

<div ng-repeat="egenskapstype in objekttype[aktivObjekttype].egenskapsTyper | orderBy:['viktighetnr', 'sorteringsnummer']" class="egenskapstype">
    <h4>
        {{egenskapstype.navn}} 
        <span class="viktighet">{{egenskapstype.viktighet}}</span>
    </h4>
    
    <ng-switch on="egenskapstype.type">
        <!-- ENUM -->
        <select ng-switch-when="ENUM" ng-model="egenskaper[egenskapstype.id]" ng-class="{'harVerdi': egenskaper[egenskapstype.id]}">
            <option value="">Velg verdi</option>
            <option ng-repeat="enum in egenskapstype.enumVerdier" ng-value="{{enum.id}}">{{enum.verdi}}</option>
        </select>
        
        <!-- Tekst -->
        <input type="text" placeholder="Skriv inn tekst" ng-switch-when="Tekst" ng-model="egenskaper[egenskapstype.id]" ng-class="{'harVerdi': egenskaper[egenskapstype.id]}">
        
        <!-- Tall -->
        <input type="text" placeholder="Skriv inn tall" ng-switch-when="Tall" ng-model="egenskaper[egenskapstype.id]" ng-class="{'harVerdi': egenskaper[egenskapstype.id]}">

        <!-- Dato -->
        <input type="text" placeholder="YYYY-MM-DD" ng-switch-when="Dato" ng-model="egenskaper[egenskapstype.id]" ng-class="{'harVerdi': egenskaper[egenskapstype.id]}">
        
        <!-- Klokkeslett -->
        <input type="text" placeholder="hh:ss" ng-switch-when="Klokkeslett" ng-model="egenskaper[egenskapstype.id]" ng-class="{'harVerdi': egenskaper[egenskapstype.id]}">
        
        <!-- Default -->
        <input type="text" placeholder="{{egenskapstype.type}}" ng-switch-default ng-model="egenskaper[egenskapstype.id]" ng-class="{'harVerdi': egenskaper[egenskapstype.id]}">
    </ng-switch>
    
    <p ng-if="egenskapstype.beskrivelse" class="beskrivelse">{{egenskapstype.beskrivelse}}</p>
    
    <!--
    <p class="beskrivelse">
        {{egenskapstype.viktighet}}. {{egenskapstype.beskrivelse}}. 
        <span ng-if="egenskapstype.enhet" title="{{egenskapstype.enhet.navn}}">{{egenskapstype.enhet.kortNavn}}</span>
    </p>
    -->
</div>

<!--<h3><span class="nr">3</span>Datterobjekter</h3>-->

</div>
